asgiref==3.2.10
beautifulsoup4==4.9.2
click==7.1.2
Django==3.0.8
fastapi==0.61.1
gunicorn==20.0.4
h11==0.10.0
idna==2.10
psycopg2==2.8.5
pydantic==1.6.1
pytz==2020.1
selenium==3.141.0
soupsieve==2.0.1
sqlparse==0.3.1
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.25.10
uvicorn==0.12.1
